body {
  background-color: black;
  margin: 0;
  background-image: url("https://i.postimg.cc/pd7KS8LS/bakgrund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Courier New', monospace;
}

.center {
  position: fixed;
  display: block;
  left: 36%;
  top: 40px;
}

p {
  color: orange;

}

.pointer {
  cursor: pointer;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 40vh;
}




.bilden1 {
  width: 450px;
}

.bilden2 {
  width: 450px;
}

.bilden3 {
  width: 450px;
}

p {
text-align: center;
}


.bild2{
position: fixed;
  width: 100px;
  height: auto;
  animation-name: regn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
transition-timing-function: linear;
top: -100px;
  pointer-events: none;
}


.bild3{
position: fixed;
  width: 100px;
  height: auto;
  animation-name: regn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
transition-timing-function: linear;
  animation-delay: 2.3s;
right: 40px;
  top: -100px;
  pointer-events: none;
}

.bild4{
position: fixed;
  width: 800px;
  height: auto;
  animation-name: regn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
transition-timing-function: linear;
  animation-delay: 3.9s;
right: 500px;
  top: -500px;
  pointer-events: none;
}

.bild5{
position: fixed;
  width: 500px;
  height: auto;
  animation-name: regn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
transition-timing-function: linear;
  animation-delay: 4.54s;
  right: 400px;
  top: -250px;
  pointer-events: none;
}
  
.bild6{
position: fixed;
  width: 400px;
  height: auto;
  animation-name: regn;
  animation-duration: 6s;
  animation-iteration-count: infinite;
transition-timing-function: linear;
  animation-delay: 5.1s;
right: 1000px;
    top: -1250px;
  pointer-events: none;
}

@keyframes regn {
  0% {top: -40%;
  transform: rotate(-30deg);}
  
  100% {top: 140%;
  transform: rotate(300deg)} 
}