body {
  background-color: black;
}

.top-left-link {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  color: tomato;
}

.top-right-link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  color: tomato;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 99vw;
}